---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Skill from "../components/Skill.astro";
import { ModeToggle } from "@/components/ModeToggle";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
} from "../components/ui/card";
import { Button } from "../components/ui/button";
import { Mail } from "lucide-react";
import "../styles/global.css";

interface SkillData {
  name: string;
}

const skills: SkillData[] = [
  { name: "Next.js" },
  { name: "Nuxt.js" },
  { name: "Node.js" },
  { name: "React" },
  { name: "PostgreSQL" },
  { name: "AWS" },
  { name: "Docker" },
  { name: "Blockchain" },
  { name: "n8n" },
];
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<Layout>
  <body>
    <header
      class="bg-background text-foreground py-4 rounded-b-md shadow border"
    >
      <div class="container mx-auto px-4 flex justify-between items-center">
        <h1 class="text-2xl font-semibold">
          Desarrollador Web Full Stack & Blockchain
        </h1>
        <div class="flex items-center gap-4">
          <Button>
            <a href="mailto:brayanespitia10@gmail.com" target="_blank"
              >Contactar</a
            >
            <Mail className="w-5 h-5 ml-2" />
          </Button>
          <ModeToggle client:load />
        </div>
      </div>
    </header>

    <section class="container mx-auto py-12 px-4">
      <Card className="mt-8">
        <CardHeader>
          <CardTitle>Sobre Mí</CardTitle>
        </CardHeader>
        <CardContent>
          <div class="flex flex-col md:flex-row items-center gap-8">
            <div class="md:w-1/4">
              <img
                src="/profile.jpeg"
                alt="Foto de Brayan Espitia"
                class="rounded-full shadow-md w-40 h-40"
                loading="lazy"
              />
            </div>
            <div class="md:w-2/3">
              <CardDescription>
                Soy un desarrollador full stack con experiencia en la
                construcción de aplicaciones web altamente escalables y el
                desarrollo de soluciones descentralizadas. Mi enfoque principal
                es encontrar soluciones innovadoras que simplifiquen los
                procesos y ayudan a las empresas a integrar la tecnología
                Blockchain para mejorar la transparencia, la seguridad y la
                eficiencia operativa.
              </CardDescription>
            </div>
            <ProjectCard
              title="EncuentraTodo"
              description="Tu plataforma integral para buscar productos y servicios, conectando usuarios con negocios y profesionales independientes en Colombia."
              technologies="Supabase ,nuxt"
              href="https://encuentra-todo.vercel.app/"
            />
          </div>
        </CardContent>
      </Card>

      <Card className="mt-8">
        <CardHeader>
          <CardTitle>Proyectos Destacados</CardTitle>
        </CardHeader>
        <CardContent>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <ProjectCard
              title="Airballoons"
              description="Aplicación interactiva donde globos aerostáticos vuelan alrededor del mundo, simulando un juego."
              technologies="Web3, Blockchain, Juegos"
              href="https://app.airballoons.io/"
            />
            <ProjectCard
              title="Revolutionize the Future: Real Use Cases of Web3"
              description="Descubre cómo la tecnología blockchain está transformando industrias con soluciones innovadoras."
              technologies="Web3, Blockchain, Soluciones Innovadoras"
              href="https://rwa.nuxt.dev/"
            />
            <ProjectCard
              title="Sionland"
              description="Ecosistema de datos geográficos multicapa descentralizado a escala global, construido para impulsar un nuevo concepto de la economía Multiverse Cross Chain."
              technologies="Web3, Multiverse, Blockchain"
              href="https://app.sionland.io/"
            />
            <ProjectCard
              title="Crypto Pagos App"
              description="Aplicación para realizar pagos con criptomonedas."
              technologies="Web3, Criptomonedas, Pagos"
              href="https://my-app-web3.vercel.app/"
            />
            <ProjectCard
            title="EncuentraTodo"
            description="Tu plataforma integral para buscar productos y servicios, conectando usuarios con negocios y profesionales independientes en Colombia."
            technologies="Supabase ,nuxt"
            href="https://encuentra-todo.vercel.app/"
          />
          </div>
        </CardContent>
      </Card>

      <Card className="mt-8">
        <CardHeader>
          <CardTitle>Mis Habilidades</CardTitle>
        </CardHeader>
        <CardContent>
          <div class="flex flex-wrap gap-2">
            {skills.map((skill) => <Skill name={skill.name} />)}
          </div>
        </CardContent>
      </Card>
    </section>

    <footer
      class="bg-background text-foreground py-4 rounded-t-md shadow border text-center"
    >
      <div class="container mx-auto px-4">
        <p class="text-sm">
          © 2025 Brayan Espitia. Todos los derechos reservados.
        </p>
      </div>
    </footer>
  </body>
</Layout>
