---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div
  class="inline-flex items-center rounded-full bg-secondary px-3 py-1 text-sm font-medium text-secondary-foreground shadow-sm"
>
  {name}
</div>
